In [1]:
a=["rat","cat","bat","mat"]
b=list(("pat"))
c=list([10,20,30,40,50])
d=[True,False,True]
print(a[2])
print(a[0:4])
print(a[::-1])
if "cat" in a:
    print("yes")
a[1:3]=["dog"]
print(a)
a.append("bat")
print(a)
a.insert(2,"bat")
print(a)
a.extend(d)
print(a)
a.remove("bat")
print(a)
a.pop(3)
print(a)
del a[0]
print(a)
a.clear()
print(a)

bat
['rat', 'cat', 'bat', 'mat']
['mat', 'bat', 'cat', 'rat']
yes
['rat', 'dog', 'mat']
['rat', 'dog', 'mat', 'bat']
['rat', 'dog', 'bat', 'mat', 'bat']
['rat', 'dog', 'bat', 'mat', 'bat', True, False, True]
['rat', 'dog', 'mat', 'bat', True, False, True]
['rat', 'dog', 'mat', True, False, True]
['dog', 'mat', True, False, True]
[]

In [5]:
list1=["apple","banana","cherry","orange","banana","melon","mango"]
list1.remove("banana")
print(list1)
list1.pop(3)
print(list1)
list1.clear()
print(list1)
list2=["apple","banana","cherry","orange","banana","melon","mango"]
del list2[0]
print(list2)

['apple', 'cherry', 'orange', 'banana', 'melon', 'mango']
['apple', 'cherry', 'orange', 'melon', 'mango']
[]
['banana', 'cherry', 'orange', 'banana', 'melon', 'mango']

In [6]:
list1=["apple","banana","cherry","orange","banana","melon","mango"]
for x in list1:
    print(x)

apple
banana
cherry
orange
banana
melon
mango

In [7]:
list1=["apple","banana","cherry","orange","banana","melon","mango"]
for i in range(len(list1)):
    print(list1[i])

apple
banana
cherry
orange
banana
melon
mango

In [9]:
list1=["apple","banana","cherry","orange","banana","melon","mango"]
i = 0
while i < len(list1):
    print(list1[i])
    i += 1

apple
banana
cherry
orange
banana
melon
mango

In [14]:

list1=["apple","banana","cherry","orange","banana","melon","mango"]
newlist=[x for x in list1 if "a" in x]
print(newlist)

['apple', 'banana', 'orange', 'banana', 'mango']

In [20]:
list1=["apple","banana","cherry","orange","banana","melon","mango"]
list2=[10,7,23,67,22,45,78]
list1.sort()
list2.sort(reverse=True)
print(list1)
print(list2)

['apple', 'banana', 'banana', 'cherry', 'mango', 'melon', 'orange']
[78, 67, 45, 23, 22, 10, 7]

In [21]:
def myfunc(n):
    return abs(n-50)
list2.sort(key=myfunc)
print(list2)

[45, 67, 23, 78, 22, 10, 7]

In [22]:
print("Minimum value:", min(list2))
print("Maximum value:", max(list2))

Minimum value: 7
Maximum value: 78

In [24]:
print("Average:",sum(list2))
print("Average:",sum(list2)/len(list2))

Average: 252
Average: 36.0

In [26]:

count = 0
list1=[10,7,23,67,22,45,10]
a=10
for i in list1:
    if i == a:
        count += 1
print(count)

2

WAP to swap the  first anbd last element in the list

In [4]:
def swap_first_last(lst):
    if len(lst) >= 2:
        lst[0], lst[-1] = lst[-1], lst[0]
    return lst
    # size=len(list1)
    # temp=list1[0]
    # list1[0]=list1[size-1]
    # list1[size-1]=temp
    return list1
list1 = [1, 2, 3, 4, 5]
list = swap_first_last(list1)
print(list)

[5, 2, 3, 4, 1]

WAP to swap the elements at the given position

In [1]:
def swaplist(lst, pos1, pos2):
    temp=lst[pos1]
    lst[pos1]=lst[pos2]
    lst[pos2]=temp
    return lst

list1 = [1, 2, 3, 4, 5]
pos1, pos2 = 1, 3
result = swaplist(list1, pos1-1, pos2-1)
print(result)

[3, 2, 1, 4, 5]

WAP to find the count of unique element in the list

In [7]:
list1 = [1, 2, 3, 4, 5, 5, 2, 3, 4, 9]
l1 = []
[l1.append(item) for item in list1 if item not in l1]
print(l1)

[1, 2, 3, 4, 5, 9]

duplicate removal list product

In [13]:
def prod(lst):
    result = 1
    for i in lst:
        result *= i
    return result
list1 = [1, 2, 3, 4, 5, 5, 2, 3, 4, 9]
print("The original list is: ", list1)
result=[]
[result.append(x) for x in list1 if x not in result]
print("The list after removing duplicates: ", result)
res=prod(result)
print("The product of the list is: ", res)

The original list is:  [1, 2, 3, 4, 5, 5, 2, 3, 4, 9]
The list after removing duplicates:  [1, 2, 3, 4, 5, 9]
The product of the list is:  1080

WAP to extract a elemnet with a frequncy greater than K

In [14]:
test_list=[4,6,4,2,5,6,2,5,7,4,2,1,5,3,2,7]
print("The original list is: ", test_list)
res=[]
k=2
for i in test_list:
    freq=test_list.count(i)
    if freq>=k and i not in res:
        res.append(i)
print("The elements with frequency greater than k are: ", res)

The original list is:  [4, 6, 4, 2, 5, 6, 2, 5, 7, 4, 2, 1, 5, 3, 2, 7]
The elements with frequency greater than k are:  [4, 6, 2, 5, 7]

Test if the list contains elemnts in a range

Partition a list around the given value such that the elemnts less than the value come before it and the elements greater than the value come after

In [16]:
list11=[1,2,3,4,5,6]
list12=[4,5,6,7,8,9,10]
set1=set(list11)
set2=set(list12)
set3=set1.intersection(set2)
list3=list(set3)
print(list3)

TypeError: 'list' object is not callable

Find the sum of the largest sub array

to find the peak element in the list (element which is greater than or equal to its neighbour)

to merge two sorted list into a single sorted list